 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                    Chillsense is a colour-changing temperature sensor that informs users whether their medications have been exposed to destructive low temperatures.
                    For temperature-sensitive medications like EpiPens which are carried with you, it is hard to know whether the medicine has been kept near room temperature at all times.
                  </p>
                </div>
                <div class="col-lg-4">
                        <p>
                        Chillsense takes away this uncertainty by irreversibly changing colour once a lowtemperature has been detected, giving you insight into your medication's temperature history.
 
                        Chillsense is perfect for small medications like EpiPens and insulin.
                        Look at our user profiles below to learn how Chillsense could help you!
                        </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                        <br>Listen to what our customers have to say!<br>
                        <video width="100%" controls>
                                <source src="img/video-small.mp4" type="video/mp4">
                                (Your browser does not support the video tag.)
                        </video>
                </div>
            </div>

        </div>
    </section>
